.radio-button {
    display: flex;
}

.option {
    background-color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.selected {
    background-color: yellow;
}