ul#outline {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 10vh;
    background-color: gainsboro;
}

ul#outline li {
    list-style-type: none;
    float: left;
    font-size: 20px;
}

ul#outline li#courseID {
    padding: 3vh 3%
}

ul#outline li#term {
    padding: 3vh 3%;
}

ul#outline li#status {
    padding: 3vh 6%;
}